.parr{
    background-image: url("../../../assets/images/park-dasol-hHdHCfAifHU-unsplash.9ef6df41b7d8bb101753_ecuv5i.webp");
    min-height:100vh;
    //padding-top: 3%;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-weight: bold;
    //margin-bottom: 5%;
}