<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-10">
            <form [formGroup]="LogInForm">
                <h1>LogIn</h1>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" formControlName="username" id="username" class="form-control">
                    <div class="alert alert-danger col-12" 
                        *ngIf="!LogInForm.controls.username.valid && LogInForm.controls.username.touched">
                        Username is empty
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" id="password" class="form-control">
                    <div class="alert alert-danger col-12" 
                        *ngIf="!LogInForm.controls.password.valid && LogInForm.controls.password.touched">
                        Password is empty
                    </div>
                </div> 

                <button type="submit" class="btn btn-primary" (click)="onLogInButtonClicked()">Log In</button>
            </form>
        </div>
        <div class="col-md-1 col-sm-10"></div>

        <hr class="clearfix w-100 d-md-none">

        <div class="col-md-4 col-sm-10">
                <form [formGroup]="SignInForm">
                    <h1>SignIn</h1>
                    <div class="form-group">
                        <label for="signInUsername">Username</label>
                        <input type="text" formControlName="username" id="signInUsername" class="form-control">
                        <div class="alert alert-danger col-12" 
                        *ngIf="!SignInForm.controls.username.valid && SignInForm.controls.username.touched">
                        Username is empty
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="signInPassword">Password</label>
                        <input type="password" formControlName="password" id="signInPassword" class="form-control">
                        <div class="alert alert-danger col-12" 
                        *ngIf="!SignInForm.controls.password.valid && SignInForm.controls.password.touched">
                        Password is empty
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="repeatPassword">Repeat password</label>
                        <input type="password" formControlName="repeatPassword" id="repeatPassword" class="form-control">
                        <div class="alert alert-danger col-12" 
                        *ngIf="!SignInForm.controls.repeatPassword.valid && SignInForm.controls.repeatPassword.touched">
                        Repeat password is empty
                        </div>
                    </div> 

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" formControlName="email" id="email" class="form-control">
                        <div class="alert alert-danger col-12" 
                        *ngIf="!SignInForm.controls.email.valid && SignInForm.controls.email.touched">
                        Email is empty
                        </div>
                    </div> 

                    <div class="form-group">
                        <label for="phone">Phone number</label>
                        <input type="tel" formControlName="phone" id="phone" class="form-control">
                        <div class="alert alert-danger col-12" 
                        *ngIf="!SignInForm.controls.phone.valid && SignInForm.controls.phone.touched">
                        Phone is empty
                        </div>
                    </div> 
    
                    <button type="submit" class="btn btn-primary" (click)="onSignInButtonClick()">Sign In</button>
                </form>
            </div>
    </div>
</div>

<app-footer></app-footer>