<h3>Топ фирми</h3>
<ngb-carousel *ngIf="topUsers != undefined" [showNavigationIndicators]="false" id="carousel" >
    
    <ng-template ngbSlide *ngFor="let j of ' '.repeat( math.ceil( topUsers.length /carouselItems ) ).split(''); index as i">
        <div class="row">
            <div class="col-sm-3 col-6" *ngFor="let user of topUsers | slice: i*carouselItems: i*carouselItems+carouselItems; index as l">
                <mat-card class="mat-card" [routerLink] = "['/user', user._id]" (click)="onUserClick( user._id )" style="cursor: pointer;">

                    <mat-card-title class="text-overflow">
                        {{ topUsers[carouselItems*i+l].username }}
                    </mat-card-title>

                    <img *ngIf="topUsers[carouselItems*i+l]?.picture" mat-card-image [src]="topUsers[carouselItems*i+l]?.picture">

                    <mat-card-content class="text-overflow">
                        Rating: {{ topUsers[carouselItems*i+l].avg_rating }}
                    </mat-card-content>
                    
                </mat-card>
            </div>
            
        </div>
    </ng-template>

</ngb-carousel>
