<form [formGroup]="resetPasswordForm">
    <div class="form-group">
        <label for="password"> Password </label>
        <input type="password" formControlName="password" id="password" class="form-control">
    </div>
    <div class="form-group">
        <label for="repeatPassword"> Repeat password </label>
        <input type="password" formControlName="repeatPassword" id="repeatPassword" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary" (click)="onResetPasswordClicked()">Reset password</button>
    <div class="alert alert-danger" 
            *ngIf="message">
            {{message}}
        </div>
</form>
