
<form [formGroup]="SignInForm">
    <h1 *ngIf="data == null"> Регистрация </h1>
    <h1 *ngIf="data?.edit == true"> Редакция </h1>
    <div class="form-group">
        <label for="signInUsername">Username</label>
        <input type="text" formControlName="username" id="signInUsername" class="form-control">
        <div class="alert alert-danger col-12" 
        *ngIf="!SignInForm.controls.username.valid && SignInForm.controls.username.touched">
        Username is empty
        </div>
    </div>
    
    <div class="form-group" *ngIf="data === null">
        <label for="signInPassword">Password</label>
        <input type="password" formControlName="password" id="signInPassword" class="form-control">
        <div class="alert alert-danger col-12" 
        *ngIf="!SignInForm.controls.password.valid && SignInForm.controls.password.touched">
        Password is empty
        </div>
    </div>

    <div class="form-group" *ngIf="data === null">
        <label for="repeatPassword">Repeat password</label>
        <input type="password" formControlName="repeatPassword" id="repeatPassword" class="form-control">
        <div class="alert alert-danger col-12" 
        *ngIf="!SignInForm.controls.repeatPassword.valid && SignInForm.controls.repeatPassword.touched">
        Repeat password is empty
        </div>
    </div> 

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" formControlName="email" id="email" class="form-control">
        <div class="alert alert-danger col-12" 
        *ngIf="!SignInForm.controls.email.valid && SignInForm.controls.email.touched">
        Email is empty
        </div>
    </div> 

    <div class="form-group">
        <label for="phone">Phone number</label>
        <input type="tel" formControlName="phone" id="phone" class="form-control">
        <div class="alert alert-danger col-12" 
        *ngIf="!SignInForm.controls.phone.valid && SignInForm.controls.phone.touched">
        Phone is empty
        </div>
    </div>
    <div class="form-group">

        <input type="file"
            id="file"
            class="col-6 btn btn-primary"
            name="pic"
            (change)="handleFileInput($event.target.files)">
        
        <button class = "col-6 btn btn-danger" (click)="onDeletePicturesClicked()"> Премахване на снимка </button>
    </div>


    <button *ngIf="data == null" type="submit" class="btn btn-primary" (click)="onSignInButtonClick()">Регистрация</button>
    <button *ngIf="data?.edit == true" type="submit" class="btn btn-primary" (click)="onEditButtonClick()">Редакция</button>
</form>