<app-home-banner></app-home-banner>
<div class="container">

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <mat-card class="card" [routerLink] = "['/properties']" >
                <mat-card-content> <h2>Наемане</h2></mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-6 col-sm-12">
            <mat-card class="card" [routerLink] = "['/properties']">
                <mat-card-content> <h2>Купуване</h2></mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <mat-card class="card" [routerLink] = "['/publishForm']">
                <mat-card-content><h2>Публикуване</h2></mat-card-content>
            </mat-card>
        </div>
    </div>
    
</div>
<app-footer></app-footer>