<div class="parr" id="banner">
    <app-navbar> </app-navbar>

    <div class="container">
        <div class="row ">
            <div class="col-6">
                <!-- <div class="find-home" (click)="onClickScrollDown()">
                    Открий мечтания си дом
                </div> -->
                <h2> Топ фирми</h2>
                <app-top-rated-users-carousel></app-top-rated-users-carousel>
            </div>
        </div>
        <div class="row scroll-tip" >
            <div class="col " id="scrollTo">
                <h3> Scroll Down  </h3>
            </div>
        </div>
    </div>
    
</div >
