.parr{
    background-image: url("../../../assets/images/background-city.jpg");
    min-height:100vh;
    //padding-top: 3%;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-weight: bold;
    //margin-bottom: 5%;
}