<app-navbar></app-navbar>

<div class="formContainer container">
    <div class="row">
        <div class="col">
            <h3>Информация за имота</h3>
        </div>
    </div>

    <form [formGroup]="PropertyPublishForm">
        <div class="row">
            <div class="col">
                    <div class="form-group row">
                        <label class="col" for="title">Заглавие</label>
                        <input 
                            class="form-control col-12" 
                            type="text" 
                            formControlName="title"
                            id="title">
                        <div class="alert alert-danger col-12" 
                            *ngIf="!PropertyPublishForm.controls.title.valid && buttonClicked">
                                Title is invalid 
                        </div>
                    </div>
                
                    <div class="form-group row">
                        <label class="col" for="address">Адрес</label>
                        <input 
                            class="form-control col-12" 
                            type="text" 
                            formControlName="address"
                            id="address">
                        <div class="alert alert-danger col-12" 
                            *ngIf="!PropertyPublishForm.controls.address.valid && buttonClicked">
                                Address is invalid 
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col" for="district">Квартал</label>
                        <input 
                            class="form-control col-12" 
                            type="text" 
                            formControlName="district"
                            id="district">
                        <div class="alert alert-danger col-12" 
                            *ngIf="!PropertyPublishForm.controls.district.valid && buttonClicked">
                                Address is invalid 
                        </div>
                    </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-5 col-sm-12">

                <div class="form-group row" *ngIf="!citiesArr">
                    <label class="col-12" for="price">Град</label>
                    <input 
                        class="form-control col-12" 
                        type="text" 
                        formControlName="city"
                        id="city">
                    <div class="alert alert-danger col-12" 
                        *ngIf="!PropertyPublishForm.controls.city.valid && buttonClicked">
                        City is invalid 
                    </div>
                </div>

                <div class="form-group row" *ngIf="citiesArr">
                    <label class="col-12" for="price">Град</label>
                    <select 
                        class="form-control col-12" 
                        formControlName="city"
                        id="city">
                        <option *ngFor="let city of citiesArr" [value]="city?.name"> {{ city?.name }}</option>
                    </select>
                    <div class="alert alert-danger col-12" 
                        *ngIf="!PropertyPublishForm.controls.city.valid && buttonClicked">
                        City is invalid 
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-12" for="price">Цена</label>
                    <input 
                        class="form-control col-12" 
                        type="text" 
                        formControlName="price"
                        id="price">
                    <div class="alert alert-danger col-12" 
                        *ngIf="!PropertyPublishForm.controls.price.valid && buttonClicked">
                        Price is invalid 
                    </div>
                </div>

            
                <div class="form-group row">
                    <label class="col-12" for="rooms">Стаи</label>
                    <input 
                        class="form-control col-12" 
                        type="text" 
                        formControlName="rooms"
                        id="rooms">
                    <div class="alert alert-danger col-12" 
                        *ngIf="!PropertyPublishForm.controls.rooms.valid && buttonClicked">
                        Rooms is invalid 
                    </div>
                </div>
        
                <div class="form-group row">
                    <label class="col-12" for="area">Площ</label>
                    <input 
                        class="form-control col-12" 
                        type="text" 
                        formControlName="area"
                        id="area">
                    <div class="alert alert-danger col-12" 
                        *ngIf="!PropertyPublishForm.controls.area.valid && buttonClicked">
                        Area is invalid 
                    </div>
                </div>
        
                <div class="form-group row">
                    <label class="col-12" for="type">Тип на имот</label>
                    <select class="form-control col-12" id="type" formControlName="type">
                        <option>Apartment</option>
                        <option>House</option>
                        <option>Garage</option>
                        <option>Room</option>
                    </select>
                    <div class="alert alert-danger col-12" 
                        *ngIf="!PropertyPublishForm.controls.type.valid && buttonClicked">
                        Type is invalid 
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-12" for="type">Тип на обява</label>
                    <select class="form-control col-12" id="rent" formControlName="rent">
                        <option>Rent</option>
                        <option>Sell</option>
                    </select>
                    <div class="alert alert-danger col-12" 
                        *ngIf="!PropertyPublishForm.controls.type.valid && buttonClicked">
                        Type is invalid 
                    </div>
                </div>
            </div>

            <div class="col-md-1 col-sm-12"></div>
    
            <div class="col-md-6 col-sm-12">
                <div class="form-group row">
                    <label class="col-12" for="info">Повече информация</label>
                    <textarea name="info" class="form-control col-12" id="info"  rows="5" formControlName="info"></textarea>
                    <div class="alert alert-danger col-12" 
                        *ngIf="!PropertyPublishForm.controls.info.valid && buttonClicked">
                        Info is invalid 
                    </div>
                </div>
        
                <div class="form-group row">
                    <mat-form-field>
                        <mat-label> Характеристики </mat-label>
                        <mat-select formControlName='tags' multiple>
                            <mat-option *ngFor="let tag of tagList" [value]='tag'>{{ tag }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="form-group row">
                    <label class="col-12" for="file">Качване на снимки</label>

                    <app-picture-gallery [setImagesUrlArr]='imagesUrlArr' [setPictureRowItems]="pictureRowItems"> </app-picture-gallery>
                    
                    <input type="file"
                            id="file"
                            class="col-6 btn btn-primary"
                            name="pic"
                            (change)="handleFileInput($event.target.files)">
                    <button class = "col-6 btn btn-danger" (click)="onDeletePicturesClicked()"> Премахване на снимки </button>
                </div>

            </div>

        </div>

        <div class="form-group row">
            <button *ngIf="edit == false" class="btn btn-primary col-md-5 col-sm-12" type="button" (click)="onPublishButtonClicked()">Публикуване</button>
            <button *ngIf="edit == true" class="btn btn-primary col-md-5 col-sm-12" type="button" (click)="onEditButtonClicked()">Редактиране</button>
        </div>

    </form>
</div>

<app-footer></app-footer>
