<form [formGroup]="PropertySearchForm">
    <div class="form-group" *ngIf="!citiesArr">
        <label for="cityInput"> Град </label>
        <input type="text" class="form-control" id="cityInput" formControlName="city">
    </div>

    <div class="form-group" *ngIf="citiesArr">
        <label for="cityInput"> Град </label>
        <select class="form-control" id="cityInput" formControlName="city">
            <option [ngValue]="null" disabled selected>Няма избран</option>
            <option *ngFor="let city of citiesArr"> {{ city?.name }}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="districtInput"> Квартал </label>
        <input type="text" class="form-control" id="districtInput" formControlName="district">
    </div>

    <div class="form-group">
        <label for="typeSelect"> Тип на имота </label>
        <select class="form-control" id="typeSelect" formControlName="type">
            <option>Apartment</option>
            <option>House</option>
            <option>Garage</option>
            <option>Room</option>
        </select>
    </div>

    <div class="form-group">
        <label for="roomsInput"> Брой стаи </label>
        <input type="text" class="form-control" id="roomsInput" formControlName="rooms">
    </div>

    <div class="form-group">
        <label for="selectRent"> Тип на обявата  </label>
        <select class="form-control" id="selectRent" formControlName="rentFlag">
            <option>Sell</option>
            <option>Rent</option>
        </select>
    </div>

    <div class="form-group" *ngIf="PropertySearchForm.get('rentFlag').value == 'Rent'">
        <label for="price"> Цена </label>
        <ng5-slider 
        id="price" 
        [value]="rentRangeSliderOptions.floor" [highValue]="rentRangeSliderOptions.ceil" [options]="rentRangeSliderOptions"
        formControlName="price"></ng5-slider>
    </div>

    <div class="form-group" *ngIf="PropertySearchForm.get('rentFlag').value == 'Sell'">
        <label for="price"> Цена </label>
        <ng5-slider 
        id="price" 
        [value]="buyRangeSliderOptions.floor" [highValue]="buyRangeSliderOptions.ceil" [options]="buyRangeSliderOptions"
        formControlName="price"></ng5-slider>
    </div>

    <div class="form-group" >
        <label for="area"> Площ </label>
        <ng5-slider 
        id="area" 
        [value]="areaRangeSliderOptions.floor" [highValue]="areaRangeSliderOptions.ceil" [options]="areaRangeSliderOptions"
        formControlName="area"></ng5-slider>
    </div>

    <div class="form-group">
        <mat-form-field>
            <mat-label> Характеристики </mat-label>
            <mat-select formControlName='tags' multiple>
                <mat-option *ngFor="let tag of tagList" [value]='tag'>{{ tag }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <button class="btn btn-primary col-5" (click)="submitClick()">Търсене</button>
</form>