<div class="container" *ngIf="imagesUrlArr.length != 0">
    <div class="row">
        <img *ngIf="imagesUrlArr[index]" [src]="imagesUrlArr[index]" id="highlightedImage" class="col">
    </div>

    <ng-container *ngIf="imagesUrlArr.length > 1">
        <div class="row no-gutters"
            *ngFor="let i of ' '.repeat( math.ceil( imagesUrlArr.length/pictureRowItems ) ).split(''); index as j">
            
            <div class="col" *ngFor="let imageUrl of imagesUrlArr | slice: j*pictureRowItems:j*pictureRowItems+pictureRowItems; index as i">
                <img *ngIf="imageUrl" appGallery [src]="imageUrl" class="img-fluid" (click)="onImageClick( $event )" [attr.data-array-index] = "pictureRowItems*j+i" >
            </div>
            
        </div>
    </ng-container>
</div>