<app-navbar></app-navbar>

<div class="formContainer container">
    <div class="row">
        <div class="col">
            <h3>Информация за имота</h3>
        </div>
    </div>

    <form [formGroup]="PropertyPublishForm">
        <div class="row">
            <div class="col">
                    <div class="form-group row">
                        <label class="col" for="title">Заглавие</label>
                        <input 
                            class="form-control col-12" 
                            type="text" 
                            formControlName="title"
                            id="title">
                        <div class="alert alert-danger col-12" 
                            *ngIf="!PropertyPublishForm.controls.title.valid && PropertyPublishForm.controls.title.touched">
                                Title is invalid 
                        </div>
                    </div>
                
                    <div class="form-group row">
                        <label class="col" for="address">Адрес</label>
                        <input 
                            class="form-control col-12" 
                            type="text" 
                            formControlName="address"
                            id="address">
                        <div class="alert alert-danger col-12" 
                            *ngIf="!PropertyPublishForm.controls.address.valid && PropertyPublishForm.controls.address.touched">
                                Address is invalid 
                        </div>
                    </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-5 col-sm-12">
                    <div class="form-group row">
                        <label class="col-12" for="price">Цена</label>
                        <input 
                            class="form-control col-12" 
                            type="text" 
                            formControlName="price"
                            id="price">
                        <div class="alert alert-danger col-12" 
                            *ngIf="!PropertyPublishForm.controls.price.valid && PropertyPublishForm.controls.price.touched">
                            Price is invalid 
                        </div>
                    </div>
                
                    <div class="form-group row">
                        <label class="col-12" for="rooms">Стаи</label>
                        <select class="form-control col-12" id="rooms" formControlName="rooms">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>4+</option>
                        </select>
                        <div class="alert alert-danger col-12" 
                            *ngIf="!PropertyPublishForm.controls.rooms.valid && PropertyPublishForm.controls.rooms.touched">
                            Rooms is invalid 
                        </div>
                    </div>
            
                    <div class="form-group row">
                        <label class="col-12" for="area">Площ</label>
                        <input 
                            class="form-control col-12" 
                            type="text" 
                            formControlName="area"
                            id="area">
                        <div class="alert alert-danger col-12" 
                            *ngIf="!PropertyPublishForm.controls.area.valid && PropertyPublishForm.controls.area.touched">
                            Area is invalid 
                        </div>
                    </div>
            
                    <div class="form-group row">
                        <label class="col-12" for="type">Тип</label>
                        <select class="form-control col-12" id="type" formControlName="type">
                            <option>Apartment</option>
                            <option>House</option>
                            <option>Garage</option>
                            <option>Room</option>
                        </select>
                        <div class="alert alert-danger col-12" 
                            *ngIf="!PropertyPublishForm.controls.type.valid && PropertyPublishForm.controls.type.touched">
                            Type is invalid 
                        </div>
                    </div>
            </div>

            <div class="col-md-1 col-sm-12"></div>
    
            <div class="col-md-6 col-sm-12">
                <div class="form-group row">
                    <label class="col-12" for="info">Повече информация</label>
                    <textarea name="info" class="form-control col-12" id="info"  rows="5" formControlName="info"></textarea>
                    <div class="alert alert-danger col-12" 
                        *ngIf="!PropertyPublishForm.controls.info.valid && PropertyPublishForm.controls.info.touched">
                        Info is invalid 
                    </div>
                </div>
        
                <div class="form-group row">
                    <label class="col-12" >Характеристики:</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="lift" value="lift">
                        <label class="form-check-label" for="lift">Асансьор</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="leasing" value="leasing">
                        <label class="form-check-label" for="leasing">Лизинг</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" 
                        type="checkbox" id="airConditioning" 
                        value="airConditioning" >
                        <label class="form-check-label" for="airConditioning">Климатик</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="garage" value="garage" >
                        <label class="form-check-label" for="garage">Гараж </label>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-12" for="file">Качване на снимка</label>
                    <input type="file"
                            id="file"
                            class="col-12"
                            (change)="handleFileInput($event.target.files)">
                </div>
            </div>

        </div>

        <div class="form-group row">
            <button *ngIf="edit == false" class="btn btn-primary col-md-5 col-sm-12" type="button" (click)="onPublishButtonClicked()">Публикуване</button>
            <button *ngIf="edit == true" class="btn btn-primary col-md-5 col-sm-12" type="button" (click)="onEditButtonClicked()">Редактиране</button>
        </div>

    </form>
</div>

<app-footer></app-footer>
