/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #6A6C6E; 
    background-size: cover;
    background-attachment: fixed;
}

#propertyItem{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #D3D3D3;
}

.formContainer{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #D3D3D3;
}

.mat-card{
    background-color: #D3D3D3;
}

.mat-grid-tile .mat-figure {
    justify-content: flex-start !important ;
    align-items: flex-start !important;
 }

 .btn {
     margin-right: 2px;
 }