<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <h1>Имотикаря</h1>
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" >
      <span class="navbar-toggler-icon"></span>
    </button>
        
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Начало</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home/buy">Купуване</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home/rent">Наемане</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/publishForm">Публикуване</a>
        </li>
        <li class="button">
            <!-- <button *ngIf="!this.logInService.isLoggedIn()" type="button" class=" btn btn-primary" (click)="onLogInButtonClicked()"> Вход </button> -->
            <button *ngIf="!this.logInService.isLoggedIn()" type="button" class=" btn btn-primary" (click)="openDialog()"> Вход </button>
            <div *ngIf="this.logInService.isLoggedIn()" class="float-right" >
                <div [routerLink]="['/user', logInService.getUser()?._id]">
                  {{this.logInService.getUser().username}}
                </div>
                <button  type="button" class="btn btn-primary" (click)="onLogOffButtonClicked()"> Изход </button>
            </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

