<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4" id="footer">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 mx-auto">

          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Повече информация</h5>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum totam voluptatem nesciunt doloremque id dignissimos possimus reiciendis quia natus iste. Fugiat dolore quam fugit modi ipsam aperiam hic beatae voluptatibus.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Контакти</h5>

          <ul class="list-unstyled">
            <li>
              адрес: Варна, V 9000, БГ
            </li>
            <li>
              email: info@example.com
            </li>
            <li>
              телефон: + 01 234 567 88
            </li>
            <li>
               fax: + 01 234 567 89
            </li>
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright: Имотикаря
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->