<div class="container">
    <div class="row">
        <div class="col">
            <mat-accordion>
                <mat-expansion-panel>

                    <mat-expansion-panel-header>
                        <mat-panel-title> Търсене </mat-panel-title>
                    </mat-expansion-panel-header>

                    <app-search-properties></app-search-properties>
                    
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>


<div id="propertyList" class="container" 
    *ngFor="let property of propertiesArray" >
    <div class="row">
        <div class="col">

            <mat-card id="propertyItem"  [routerLink] = "['/property', property._id]" style="cursor: pointer;">
                <div class="containter">
                    <div class="row">
                        <div class="col">
                            <mat-card-header >
                                <mat-card-title>
                                    <h3 >{{ property.title }}</h3>
                                </mat-card-title>

                                <mat-card-subtitle>
                                    <h5>{{ property.address }}</h5>
                                </mat-card-subtitle>
                            </mat-card-header>
                        </div>
                    </div>

                    <div class="row">
                            <div class="col-sm-4 col-md-2" >
                                <img mat-card-image [src]="property.picturesURL[0]" id="picture"/>

                                <mat-card-content>
                                    <h6> Дата на качване:</h6>
                                    <p> {{ property.date | date}} </p>
                                </mat-card-content>

                                <hr class="clearfix w-100 d-md-none">
                            </div>

                            <div class="col-sm-4 col-md-8">
                                <mat-card-content>
                                    <p> {{ property.extraInfo }} </p>
                                </mat-card-content>
                            </div>
                            <hr class="clearfix w-100 d-md-none" *ngIf="property.extraInfo">
                            <div class="col-sm-4 col-md-2">
                                    <mat-card-content>
                                        <h6> Цена: {{ property.price }} &euro;</h6>
                                        <h6> Стаи: {{ property.rooms }} </h6>
                                        <h6> Площ: {{ property.area }} </h6>
                                        <h6> Тип: {{ property.type }} </h6>
                                    </mat-card-content>
                            </div>
                    </div>
                </div>
            </mat-card>

        </div>
    </div>
</div>
<mat-paginator [length]="allResults"
               [pageSize]="pageSize"
               [pageIndex]="page - 1"
               (page)="pageEvent($event)">
</mat-paginator>
